spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5332/demo_db
    username: demo_user
    password: demo_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
